{% extends "base.html" %}
{% block title %} {{ titulo }} {% endblock %}
{% block content %}
    <h1>Hora</h1><hr>
    <form action="/comp/metro/data/" method="POST">
        Metros<input type="text" name="comp"><br><br>
        <input type="radio" id="cm" name="opc" value="Centímetros">
        <label for="cm">Centímetros</label><br>
        <input type="radio" id="km" name="opc" value="Quilômetros">
        <label for="km">Quilômetros</label><br><br>
        <input type="submit" value="Send">
    </form>
<br>
{% endblock %}