{% extends "base.html" %}
{% block title %} {{ titulo }} {% endblock %}
{% block content %}
    <h1>Hora</h1><hr>
    <form action="/comp/cm/data/" method="POST">
        Quilômetros<input type="text" name="comp"><br><br>
        <input type="radio" id="km" name="opc" value="Quilômetros">
        <label for="km">Centímetros</label><br>
        <input type="radio" id="m" name="opc" value="Metros">
        <label for="m">Metros</label><br><br>
        <input type="submit" value="Send">
    </form>
<br>
{% endblock %}