{% extends "base.html" %}
{% block title %} {{ titulo }} {% endblock %}
{% block content %}
    <h1>Retângulo</h1><hr>
    <form action="/minuto/data/" method="POST">
        Minutos<input type="text" name="minuto"><br><br>
        <input type="radio" id="hor" name="temp" value="Hora">
        <label for="hor">Hora</label><br>
        <input type="radio" id="seg" name="temp" value="Segundo">
        <label for="seg">Segundo</label><br><br>
        <input type="submit" value="Send">
    </form>
<br>
{% endblock %}