{% extends "base.html" %}
{% block title %} {{ titulo }} {% endblock %}
{% block content %}
    <h1>Hora</h1><hr>
    <form action="/tempo/hora/data/" method="POST">
        Horas<input type="text" name="hora"><br><br>
        <input type="radio" id="min" name="temp" value="Minuto">
        <label for="min">Minuto</label><br>
        <input type="radio" id="seg" name="temp" value="Segundo">
        <label for="seg">Segundo</label><br><br>
        <input type="submit" value="Send">
    </form>
<br>
{% endblock %}