{% extends "base.html" %}
{% block title %} {{ titulo }} {% endblock %}
{% block content %}
    <h1>Kelvin</h1><hr>
    <form action="/kelvin/data/" method="POST">
        Graus Kelvin<input type="text" name="grau"><br><br>
        <input type="radio" id="fahr" name="tempe" value="Fahrenheits">
        <label for="fahr">Fahrenheits</label><br>
        <input type="radio" id="celc" name="tempe" value="Celsius">
        <label for="celc">Celsius</label><br><br>
        <input type="submit" value="Send">
    </form>
<br>
{% endblock %}